* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html {
  overflow:   scroll;
}

@media only screen and (min-width: 800px) {
  .app{
    padding: 10px;
    height: 80%;
    width: 30%;
    margin: auto;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    overflow: hidden;

  }
  main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 500vh;
    padding-bottom: -500px;
  }

  
 body{
  background: -webkit-linear-gradient(to right, #F4D03F, #16A085);  
  background: linear-gradient(to right, #F4D03F, #16A085); 
 }
}
@media only screen and (max-width: 1024px) {  
  .app{
    padding: 0;
    height: 100%;
    width: 100%;

  }


 
}

body{
  font-family: 'montseratt',sans-serif;
}
.app{
  background-image: url('https://media.giphy.com/media/67uxmHhIF3uh6Ph8ew/giphy.gif');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}


.app.warm{
  background-image: url('https://media.giphy.com/media/67uxmHhIF3uh6Ph8ew/giphy.gif');
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding: 25px;
}
main .forcast{
  height: 100% !important;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background:none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 32px;
  margin-top: 2%;

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}
.searchInput{
  background-color: rgba(255,255,255,0.2) !important;
  color: white !important;
}
.searchInput::hover{
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.search-box .search-bar:focus{
  background-color: rgba(255,255,255,0.75);
}
.location-box .location{
  margin-top: -60px;
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px  rgba(50, 50, 70, 0.5);
  transition: 5s ease;
}
.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px  rgba(50, 50, 70, 0.5);
}
.weather-box{
  text-align: center;
}
.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}
.weather-box .weather{
  color: #FFF;
  margin-top: -25px;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}